@{
    ViewData["Title"] = "Lakeview ILS";
}

<h3>@ViewData["Title"]</h3>

<div class="mdl-grid">
    <div class="mdi-cell mdl-cell--4-col">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">

        </div> 
    </div>
</div>